@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My ASP.NET Core App</h1>
    <h2>Welcome to My Server Time Page</h2>
    <p>Current Server Time: @DateTime.Now</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>